<h1>Author: <%= @author.name %></h1>
<h3>Books: </h3>
<ul>
  <% @author.books.each do |book| %>
  <li><h3><%= book.title %> </h3></li>
  <% end %>
</ul>
<h3>Average Pages: <%= @author.average_pages %> </h3>
